<mat-toolbar color="primary">
    <span>Supermarket PHP Challenge</span>
    <div *ngIf="loggedIn$ | async">
        <a mat-raised-button href="/cart">Cart</a>
        <a mat-raised-button href="/product">Products</a>
        <a mat-raised-button href="/users">Users</a>
        <span style="flex-grow: 1;"></span>
        <button mat-raised-button [matMenuTriggerFor]="menu">Username</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item  type=button (click)="onLogoutClick()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>