<mat-toolbar color="primary">
    <span>Supermarket PHP Challenge</span>
    <div *ngIf="loggedIn$ | async">
        <a mat-raised-button routerLink="cart">Cart</a>
        <a mat-raised-button routerLink="product">Products</a>
        <a mat-raised-button routerLink="users">Users</a>
        <span style="flex-grow: 1;"></span>
        <button mat-raised-button [matMenuTriggerFor]="menu">{{(this.currentUsername$ | async) || 'Username'}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item  type=button (click)="onLogoutClick()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>