<mat-grid-list class="cart-container" cols='2' gutterSize="10" *ngIf="$cart | async as currentCart; else create">
    <mat-grid-tile>
        <mat-card class='cart-item'>
            <h1>Products</h1>
            <mat-list>
                <mat-list-item *ngFor="let item of currentCart.items">
                    <h3>{{item.product?.name}}</h3>
                    <p>Price: {{item.product?.price}}</p>
                </mat-list-item>
            </mat-list>
            <form [formGroup]="addItemForm" (ngSubmit)="onAddItemSubmit()">
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="productId">
                        <mat-option *ngFor="let product of $products | async" [value]="product.id">{{product.name}} - {{(product.price/100) | currency}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" name="quantity" formControlName="quantity">
                </mat-form-field>
                <button mat-raised-button color="primary">Add item</button>
            </form>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class='cart-item'>
            <h1>Totalization</h1>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>

<ng-template #create>
    <button mat-raised-buttton type="button" (click)="onCreateCartClick()">Create a new Cart</button>
</ng-template>
